@using MudBlazor

@using BolosModel.Entities

<MudDialog MaxWidth="MaxWidth.Small">
    <TitleContent>
        @bolo.Nome
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1">@bolo.Descricao</MudText>
        <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="mt-2">Preço: R$ @bolo.Valor.ToString("F2")</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="() => MudDialogInstance.Close()">Fechar</MudButton>
    </DialogActions>
</MudDialog>

<div style="margin: 20px;">
    <p>
        <h4>
            <a href="https://wa.me/message/LTZW3MOYNS5GJ1" target="_blank" style="text-decoration: none; color: #c69465; font-weight: bold;">
                Eu Quero!
            </a>
        </h4>
    </p>
</div>


@code {
    [CascadingParameter] MudDialogInstance MudDialogInstance { get; set; }

    [Parameter] public Bolo bolo { get; set; } = new Bolo();
}
