@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>A&L CAKES - Bolos Feitos com Carinho</PageTitle>

<div style="text-align: center; max-width: 800px; margin: 0 auto; font-family: Arial, sans-serif; color: #5d4037;">

    <MudImage Src="logo-png.png" Style="width: 200px; margin-top 20px;"></MudImage>

    <h1 style="font-size: 2.5em; color: #4e342e; margin-top: 20px;">A&L CAKES</h1>
    <p style="font-size: 1.5em; color: #795548;">Bolos caseiros e artesanais feitos com amor e carinho</p>

    <p style="font-size: 1.2em; color: #5d4037;">
        Bem-vindo à A&L CAKES, onde cada bolo é feito com ingredientes de alta qualidade e uma pitada especial de amor.
        Nossos bolos são cuidadosamente preparados para tornar o seu dia ainda mais doce e especial. 🌸
    </p>

    <p style="font-size: 1.2em; color: #5d4037;">
        Seja para um aniversário, uma comemoração, ou apenas para satisfazer a sua vontade de comer um doce, estamos
        aqui para oferecer as melhores opções de bolos artesanais, feitos sob medida para o seu gosto!
    </p>

    <p style="font-size: 1.2em; color: #5d4037;">
        Venha experimentar o sabor e o carinho que colocamos em cada fatia. Esperamos que você sinta o amor em cada pedaço de bolo. 💖
    </p>

    <!-- Links para redes sociais e iFood -->
    <div style="margin-top: 20px;">
        <h2 style="font-size: 1.5em; color: #4e342e;">Siga-nos nas redes sociais e peça pelo WhatsApp!</h2>

        <p>
            <a href="https://www.instagram.com/a.l_cakescia?igsh=ODA3Z3BhOXNrdWE5" target="_blank" style="text-decoration: none; color: #c69465; font-weight: bold;">
                Instagram
            </a> |
            <a href="https://wa.me/message/LTZW3MOYNS5GJ1" target="_blank" style="text-decoration: none; color: #c69465; font-weight: bold;">
                WhatsApp
            </a>
        </p>
    </div>

    <!-- Endereço -->
    <div style="margin-top: 30px;">
        <h3 style="font-size: 1.3em; color: #4e342e;">Nosso endereço:</h3>
        <p style="font-size: 1.2em; color: #5d4037;">
            Rua Pascoal Ranieri Mazzilli, 362º, São Paulo - SP
        </p>
    </div>
</div>
